<div class="container mb-5">
  <div class="row">
    <div class="col-9">
      <h1 class="mt-4 text-center text-white">Users List</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-9">
      <% @users.each do |user| %>
        <div class="card bg-dark shadow rounded">
          <div class="card-header text-white">
            <%= user.username %>
            <div class="text-muted text-right">
              <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-white"><%= pluralize(user.articles.count, "article") %></p>
            <%= link_to "View Profile", user, class: "btn btn-outline-success" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <div class="card text-white bg-dark shadow rounded">
        <div class="card-body">
          <h5 class="card-title">Categories(0)</h5>
        </div>
      </div>
    </div>
  </div>

</div>