<h1 class="mt-4 text-center text-white"><%= @user.username %>'s Profile</h1>

<h1 class="mt-4 text-center text-white">Articles</h1>

<div class="container mb-4">
  <%= render 'articles/articles' %>
</div>