<div class="container mb-5">

  <div class="row mt-2">
    <div class="col-3">
    </div>
    <div class="col-6">
      <h1 class="mt-4 text-center text-white"><%= @category.name %></h1>
    </div>
    <div class="col-3">
    </div>
  </div>

</div>